@{
    ViewData["Title"] = "About GoCart";
}
<div class="container about bg-primary w-100 mb-2 bg-opacity-10 p-5 rounded-5">
    <div class="row align-items-center justify-content-center">
        <div class="col-md-5 ">
            <div class=" position-relative">
                <img src="../Assets/Image/About.jpeg" class="Aboutimg  w-100 " alt="">
                <div class="d-flex flex-column fw-bolder text-black  Abouth1 ms-3">
                    <small class="text-black ">A</small>
                    <small class="text-black ">B</small>
                    <small class="text-black ">O</small>
                    <small class="text-black ">U</small>
                    <small class="text-black ">T</small>
                    <small class="text-black ">U</small>
                    <small class="text-black ">S</small>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h2>Welcome to  <span class="Go-color1">GO</span> Cart! </h2>
            <h5>
                Go Company is an Egyptian company owned by some young businessmen who created some other websites such as- Go Cart- Go Cart- Go Fast Food
            </h5>
            <div class="links d-flex gap-3 justify-content-start   ">

                <a href="https://www.facebook.com/mohamed.mamdouh.58555" target="_blank">

                    <i class="fa-brands fa-facebook-f"></i>
                </a>
                <a href="https://www.instagram.com/mohamed.mamdouh.58555/" target="_blank">

                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://github.com/MohamedMamdouh2002" target="_blank">

                    <i class="fa-brands fa-github"></i>
                </a>

                <a href="https://wa.me/+201210898884?text=Hi, I want to contact Go cart" target="_blank">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
            </div>
        </div>
    </div>
</div>
