@{
    ViewData["Title"] = "Contact Us";
}
<section class="contact">
    <div class="container mb-3">
        <div class="row contactrow w-75  g-4  gap-5 p-1  mt-5 m-auto bg-opacity-10 bg-primary">
            <div class="col-md-4">
                <img src="~/Assets/Image/contact.jpeg" class="w-100 contactimg mb-3" height="400" alt="">
            </div>
            <div class="col-md-6 d-flex">
                <div class="row justify-content-between">
                    <h1 class="text-center mt-5">CONTACT US</h1>
                    <div class="col-md-4 ">
                        <div class="">

                            <input type="text" class="border-top-0  border-start-0 border-end-0   border-dark ps-1 " maxlength="25" placeholder="Full Name" name="" id="">
                            <input type="email" class=" my-4 border-top-0 border-start-0 border-end-0   border-dark ps-1 " maxlength="25" placeholder="Email" name="" id="">
                            <input type="text" class="border-top-0 border-start-0 border-end-0   border-dark ps-1 " maxlength="25" placeholder="Message" name="" id="">
                            <div class="d-flex justify-content-center align-items-center ">

                                <button class="btn  px-3 my-4 btn-dark ">Send Message</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <h6 class="fw-bold"> Contact</h6>
                        <p>mm56545@gmail.com</p>
                        <h6 class="fw-bold">Based in</h6>
                        <p>Egypt,Cairo</p>
                        <div class="links d-flex gap-3 justify-content-start   ">

                            <a href="https://www.facebook.com/mohamed.mamdouh.58555" target="_blank">

                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                            <a href="https://www.instagram.com/mohamed.mamdouh.58555/" target="_blank">

                                <i class="fa-brands fa-instagram"></i>
                            </a>
                            <a href="https://github.com/MohamedMamdouh2002" target="_blank">

                                <i class="fa-brands fa-github"></i>
                            </a>

                            <a href="https://wa.me/+201210898884?text=Hi, I want to contact Go cart" target="_blank">
                                <i class="fa-brands fa-whatsapp"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>