@model decimal

<div>
    @{
        decimal rating = Model;

        @for (int i = 0; i < Math.Round(rating); i++)
        {
            <i class="fas fa-star" style="color:gold"></i>
        }
        @for (int i = (int)Math.Round(rating); i < 5; i++)
        {
            <i class="fas fa-star" style="color:darkgray"></i>
        }
    }
</div>