@model Cart
@{
    ViewData["Title"] = "Cart";
}


<section class="cart mx-2" id="cart-section">
    @Html.Partial("_CartPartial", Model)
</section>

@section scripts {
    <script>
        $(document).ready(function () {
            // AJAX request to update quantity
            $(".quantity-input").on("input", function () {
                var productId = $(this).data("product-id");
                var quantity = $(this).val();
                if (quantity > 0) {
                    updateQuantity(productId, quantity);
                }
            });

            // AJAX request to remove item
            $(".remove-btn").click(function () {
                var productId = $(this).data("product-id");
                removeFromCart(productId);
            });

            // Function to update quantity using AJAX
            function updateQuantity(productId, quantity) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateQuantity", "Cart")",
                    data: { productId: productId, quantity: quantity },
                    success: function () {
                        // Update the UI if needed
                        location.reload(); // Refresh the page to reflect the changes
                    },
                    error: function () {
                        // Handle error, if any
                    }
                });
            }

            // Function to remove item from cart using AJAX
            function removeFromCart(productId) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("RemoveFromCart", "Cart")",
                    data: { productId: productId },
                    success: function () {
                        // Update the UI if needed
                        location.reload(); // Refresh the page to reflect the changes
                    },
                    error: function () {
                        // Handle error, if any
                    }
                });
            }
        });
    </script>
}