@model Cart
@{
    ViewData["Title"] = "Cart";
}
@{
    var errorMessage = TempData["ErrorMessage"] as string;
}

<section class="cart mx-2" id="cart-section">
    <section class="cart container">
        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="alert alert-danger">@errorMessage</div>
        }
        <div class="row" id="cartItems-container">
            @Html.Partial("_CartPartial", Model)
        </div>
    </section>
</section>
