@model OrderSubmitFormViewModel
@{
    ViewData["Title"] = "Add Address";
}

<section class="order container  w-75">
    <h2 class="col-md-8 my">Billing Details</h2>
    <hr />
    <br>
    <div class="row d-flex justify-content-between">
        <div class="col-md-8">
            <h4>Enter Shipping Address</h4>
            <div class="card w-100 py-3 mb-5" style="background-color: #F8F8F8	;">
                <div class="mx-3 d-flex flex-column">
                    <label for="" class="fw-bold mt-2">Full Name<span style="color: red; margin-left: 3px;">*</span></label>
                    <input type="text" class="w-75 ps-2 my-1">

                    <label for="" class="fw-bold mt-2">Phone Number<span style="color: red; margin-left: 3px;">*</span></label>
                    <input type="tel" class="w-75 ps-2 my-1">

                    <label for="select region " class="fw-bold mt-2">City<span style="color: red; margin-left: 3px;">*</span></label>
                    <select name="select region" id="select region" class="w-75 my-1">
                        <option value="">Cairo</option>
                        <option value="">Giza</option>
                        <option value="">	Alexandria</option>
                        <option value="">Shubra El-Kheima</option>
                        <option value="">Port Said</option>
                        <option value="">Suez</option>
                        <option value="">	Luxor</option>
                        <option value="">al-Mansura</option>
                        <option value="">El-Mahalla El-Kubra</option>
                        <option value="">Tanta</option>
                        <option value="">Asyut</option>
                        <option value="">Ismailia</option>
                        <option value="">Fayyum</option>
                        <option value="">Zagazig</option>
                        <option value="">Aswan</option>
                        <option value="">Damietta</option>
                        <option value="">Damanhur</option>
                        <option value="">Beni Suef</option>
                        <option value="">al-Minya</option>
                        <option value="">	Qena</option>
                        <option value="">Sohag	</option>
                        <option value="">Hurghada</option>
                        <option value="">Banha</option>
                    </select>
                    <label for="" class="fw-bold mt-2">Address<span style="color: red; margin-left: 3px;">*</span></label>
                    <input type="text" class="w-75 my-1 ps-2" placeholder="Street address">
                    <input type="text" class="w-75 ps-2 my-1" placeholder=" building num,floor">
                    
                    <label for="" class="fw-bold mt-2">ZIP Code<span style="color: red; margin-left: 3px;">*</span></label>
                    <input type="tel" class="w-75 ps-2 my-1">
                </div>
            </div>
            <a href="Html/productDetails.html" class="btn text-white mb-5 btn-lg btn-success fw-semibold" style="width: 300px;">PLACE ORDER</a>
        </div>

        <div class="col-md-4">
            <h4>Your Order</h4>
            <div class="card py-3" style="background-color: #F8F8F8;">
                <div class="d-flex justify-content-between mx-4">
                    <p class="fw-bold">PRODUCT</p>
                    <p class="fw-bold">SUBTOTAL</p>
                </div>
                <hr class="mx-2 my-1">

                @foreach (var item in Model.OrderItems)
                {
                    <div class="d-flex justify-content-between mx-4">
                        <p>@item.Product.Name X @item.Quantity</p>
                        <p>$@item.Product.Price</p>
                    </div>
                }

                <hr class="mx-2 my-1">
                <div class="d-flex justify-content-between mx-4">
                    <h4 class="fw-bold">Total :</h4>
                    <h4 class="fw-bolder fs-2 text-success">$@Model.TotalCost</h4>
                </div>

                <hr class="mx-2">
                <div class="form-group mx-4">
                    <h4 class="fw-bolder">Payment Method</h4>
                    <div class="payment-method-options">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="payment-method" id="credit-card" value="credit-card">
                            <label class="form-check-label" for="credit-card">
                                <i class="fas fa-credit-card fa-fw fa-lg text-warning"></i> Credit Card
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="payment-method" id="paypal" value="paypal">
                            <label class="form-check-label" for="paypal">
                                <i class="fab fa-paypal fa-fw fa-lg text-danger"></i> PayPal
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="payment-method" id="bank-transfer" value="bank-transfer">
                            <label class="form-check-label" for="bank-transfer">
                                <i class="fas fa-university fa-fw fa-lg text-success"></i> Bank Transfer
                            </label>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

@*Add Address Form*@
<@*form method="post" asp-controller="Order" asp-action="AddAddress" enctype="multipart/form-data">
    <input type="hidden" name="Id" value="@Model.Id" /> <!-- Add this input field -->
    <div class="form-group">
        <label asp-for="City" class="mt-4">City:</label>
        <input asp-for="City" type="text" class="w-50">
    </div>
    <div class="form-group">
        <label asp-for="State" class="mt-4">State:</label>
        <input asp-for="State" type="text" class="w-50">
    </div>

    <div class="form-group">
        <label asp-for="Street" class="mt-4">Street:</label>
        <input asp-for="Street" type="text" class="w-50">
    </div>
    <div class="form-group">
        <label asp-for="ZipCode" class="mt-4">ZipCode:</label>
        <input asp-for="ZipCode" type="text" class="w-50">
    </div>
    <div class="form-group">
        <label asp-for="RecipientPhone" class="mt-4">RecipientPhone:</label>
        <input asp-for="RecipientPhone" type="text" class="w-50">
    </div>
        <div class="form-group">
        <label asp-for="RecipientName" class="mt-4">RecipientName:</label>
        <input asp-for="RecipientName" type="text" class="w-50">
    </div>

    <div class="d-flex justify-content-between mt-5 Grbimg-cat">
        <button type="submit">
            Confirm
        </button>
    </div>
</form>
*@