@{
    ViewData["Title"] = "Checkout";
}
<section class="orderh">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 bg-info bg-opacity-25 p-2">
                <div class="d-flex gap-5 align-items-center bg-danger bg-opacity-10">
                    <div class="osimg w-50">
                        <img src="../Assets/Image/About.jpeg" class="w-100" alt="">
                    </div>
                    <div class="w-100 my-2">
                        <div class="">
                            <h2 class="text-center my-4 text-success fw-bold">Your Order Has Been Placed Successfully! 🛍️📦</h2>
                            <div class="my-4">
                                <h4 class="text-start">Thank you for choosing our services... The order will be delivered within 3 days.</h4>
                            </div>
                            <div class="my-4">
                                <h4>If you have any questions or need further assistance, feel free to contact us.</h4>
                                    <div class="d-flex">
                                        <p class="fs-6 me-5"><span class="fw-semibold">Representative number:</span> 01200005530</p>
                                        <p class="fs-6"><span class="fw-semibold">Complaints number:</span> 01200005530</p>
                                    </div>
                            </div>
                            <h4 class="my-4">Happy shopping and have a fantastic day! 😊</h4>
                                <div class="mb-3 d-flex justify-content-end me-4">
                                    <a asp-controller="Home" asp-action="Index" class="btn btn-success">Back To Home</a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
</section>