@*@foreach (var product in cart.Products)
{
    <div class="d-flex align-items-center mb-3">
        <img src="@product.ImgUrl" class="mx-2" alt="">
        <small class="fw-normal mx-2">@product.Name</small>
        <small class="fw-normal mx-2">@product.Price$</small>
        <small class="mx-2 btn btn-danger">X</small>
    </div>
}*@