@model IEnumerable<WishListItem>

@{
    ViewData["Title"] = "WishList";
}

@if (TempData["DuplicateProduct"] != null && (bool)TempData["DuplicateProduct"])
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        Product is already added to the cart.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<section class="cart" id="wishlist-container">
    @Html.Partial("_WishListPartial", Model)
</section>

@section scripts {
    <script>
        $(document).ready(function () {
            $(document).on('click', '.remove-btn', function () {
                var productId = $(this).data("product-id");
                localStorage.removeItem('wishlist_' + productId);
                removeFromWishList(productId);
            });

            function removeFromWishList(productId) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("RemoveFromWishList", "WishList")",
                    data: { productId: productId },
                    success: function () {
                        refreshWishList();
                    },
                    error: function () {
                    }
                });
            }

            function refreshWishList() {
                $.ajax({
                    url: '@Url.Action("GetWishListItems", "WishList")',
                    type: 'GET',
                    data: {
                    },
                    success: function (result) {
                        $('#wishlist-container').html(result);
                    },
                    error: function () {
                    }
                });
            }
        });
    </script>
}