@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
    Layout = "~/Views/Shared/_LayoutResource.cshtml";
}

<div class="container mt-5 bg-success bg-opacity-10 p-5 rounded-5">
    <div class="row d-flex align-content-center gap-5">
        <div class="col-md-4">
            <div class="">
                <img src="~/Assets/Image/newPass.png" class="w-100" alt="">
            </div>
        </div>
        <div class="col-md-6">
            <div class="my-5">
                <form method="post">
                    <h3>Change Your Password</h3>
                    <div class="my-5">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input asp-for="Input.Code" type="hidden" />
                        <div class="form-floating mb-3">
                            <input type="email" asp-for="Input.Email" class="form-control" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">Email address</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" asp-for="Input.Password" class="form-control" id="floatingPassword" placeholder="Password">
                            <label for="floatingPassword">New Password</label>
                        </div>

                        <div class="form-floating ">
                            <input type="password" asp-for="Input.ConfirmPassword" class="form-control" id="floatingPassword" placeholder="Password">
                            <label for="floatingPassword">Re-New Password</label>
                        </div>

                    </div>
                    <button type="submit" class="btn w-100 btn-outline-dark">Reset</button>
                </form>
            </div>
        </div>
    </div>
</div>

@*<h1>@ViewData["Title"]</h1>
<h2>Reset your password.</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Input.Code" type="hidden" />
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password" class="form-label"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset</button>
        </form>
    </div>
</div>
*@
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
